<!-- expired.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../styles/expire.css" />
  </head>
  <body>
    <!-- Logo Section -->
    <div class="logo-container">
      <img src="../images/logo.png" alt="Logo" class="logo-image" />
    </div>

    <div class="header-container">
      <h2 class="header-title">
        Oops! Looks like that link has gone missing. 😜
      </h2>
    </div>
    <!-- Image Section -->
    <div class="image-container">
      <img src="../images/expired.png" alt="hero" class="hero-image" />
    </div>
  </body>
</html>
