<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../styles/stylepass.css" />
    <script>
      // This  JavaScript is to remove the error message after 3 seconds✔
      setTimeout(function () {
        var errorMessage = document.getElementById("errorMessage")
        if (errorMessage) {
          errorMessage.style.display = "none"
        }
      }, 3000)
    </script>
  </head>
  <body>
    <!-- Logo Section -->
    <div class="logo-container">
      <img src="../images/logo.png" alt="Logo" class="logo-image" />
    </div>
    <!-- Heading Section -->
    <div class="header-container">
      <h2 class="heading-text">Enter the password to download the file !</h2>
      <h2><%=locals.expiryDate%></h2>
    </div>
    <!-- Error Section -->
    <% if (locals.error || locals.expired) { %>
    <div class="error-message" id="errorMessage">
      <% if (locals.error) { %> Incorrect Password <% } %> <% if
      (locals.expired) { %> Link expired <% } %>
    </div>
    <% } %>
    <div class="form-container">
      <div class="image-container">
        <img src="../images/hero.png" alt="hero" class="hero-image" />
      </div>
      <form method="post">
        <label for="password" class="block text-sm font-medium text-gray-600"
          >Password:</label
        >
        <input
          type="password"
          id="password"
          name="password"
          required
          class="form-input"
        />
        <button type="submit" class="form-button">Download File</button>
      </form>
    </div>
  </body>
</html>
